/* STYLE FONTS */
/* rubik-regular - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/rubik-v23-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/rubik-v23-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-500 - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/rubik-v23-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/rubik-v23-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-700 - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/rubik-v23-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/rubik-v23-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-900 - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/rubik-v23-latin-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/rubik-v23-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* CUSTOM PROOPERTY */
:root {
  /* COLORS */
  --primary-color: #ff4948;
  --white-color: #fff;
  --black-color: #000;
  --black-text-color: #180202;

  /* BG COLORS */
  --footer-bg-color: #e86564;
  --white-bg-color: #fff;
  --black-bg-color: #000;
}
/* CUSTOM PROOPERTY end. */

/* GLOBAL STYLES */

*:focus {
  outline: 2px dashed var(--primary-color);
  outline-offset: 2px;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--black-text-color);
  background-color: var(--white-bg-color);
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
}

.container {
  width: 100%;
  max-width: 1180px;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.2;
}
.small-text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
}
/* HEADER STYLES */
.header {
  padding: 3.4rem 0 10rem;
  background-image: url(../image/png/header-bg-img.png),
    linear-gradient(74.79deg, #ff9292 -7.33%, #de5150 90.21%);
  background-size: 812px 632px cover;
  background-repeat: no-repeat;
  background-position: top 50% left 0px, center;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 6.4rem;
}
.site-logo {
  display: flex;
}
.site-logo__icon {
  width: 73px;
  height: 66px;
  object-fit: contain;
  object-position: center;
}
.header-top__nav {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.small-nav {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 3.2rem;
  display: none;
  margin-top: 4rem;
}
.header-top__nav span {
  width: 2px;
  height: 47px;
  background-color: var(--white-bg-color);
  opacity: 0.5;
}
.header-top__link {
  width: 47px;
  height: 47px;
  background-color: var(--white-bg-color);
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.burger-btn {
  cursor: pointer;
}

/* HEADER BOTTOM STYLES */
.header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-bottom__img {
  width: 570px;
  height: 583px;
  object-fit: contain;
  object-position: center;
  margin-left: -60px;
}
.header-bottom__content {
  width: 100%;
  max-width: 550px;
}
.header-bottom__subtitle {
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 1.3;
  letter-spacing: 0.1em;
  color: var(--white-color);
  text-transform: uppercase;
  margin-bottom: 0.3rem;
}
.header-bottom__title {
  font-weight: 700;
  font-size: 10rem;
  line-height: 1;
  color: var(--white-color);
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 4.5rem;
}
.header-bottom__price {
  display: flex;
  align-items: stretch;
  gap: 3rem;
  color: var(--white-color);
  margin-bottom: 3.5rem;
}
.header-bottom__price span {
  width: 2px;
  background-color: var(--white-bg-color);
}
.header-bottom__price-item:first-child {
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.3;
}
.header-bottom__price-item:last-child {
  font-weight: 500;
  text-decoration: line-through;
  font-size: 3.1rem;
  line-height: 1.3;
  opacity: 0.7;
  align-self: center;
}
.primary-btn {
  padding: 1.5rem 4.6rem;
  border-radius: 6.2rem;
  background-color: var(--white-bg-color);
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 1.3;
  color: var(--primary-color);
}

/* MAIN */
main {
  flex-grow: 1;
}

/* MAIN ONE */
.main-one {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 13rem;
  margin-bottom: 13rem;
}
.main-one__headphones-box {
  width: 100%;
  display: flex;
  align-items: center;
}
.main-one__headphones-box-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-one__subtitle {
  margin-bottom: 8.4rem;
  text-align: center;
}
.main-one__headphones-box-list img {
  object-fit: contain;
  object-position: center;
}
/* main > img styles */
.main-one-left {
  margin-bottom: 4.4rem;
  width: 32.4rem;
  height: 30.2rem;
  margin-right: -6.4rem;
}
.main-one-center {
  width: 45.3rem;
  height: 42.3rem;
  transform: scale(1.4);
}
.main-one-right {
  margin-bottom: 4.4rem;
  width: 32.3rem;
  height: 30.2rem;
  margin-left: -6.4rem;
}

/* MAIN TWO */
.main-two {
  display: flex;
  align-items: center;
  margin-bottom: 13rem;
}
/* LEFT */
.main-two__left {
  width: 40%;
}
.main-two__left-subtitle {
  margin-bottom: 6rem;
}
/* circle box */
.main-two__left__list--li {
  display: flex;
  align-items: center;
  gap: 1.9rem;
}
.circle-box {
  width: 96px;
  height: 96px;
  display: flex;
  position: relative;
}
.main-two__left__list--li:nth-child(1) {
  margin-bottom: 4.1rem;
}
.main-two__left__list--li:nth-child(2) {
  margin-bottom: 4.1rem;
}
/* circle-box img */

.circle-box img:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 0;
}
.circle-box img:nth-child(3) {
  position: absolute;
  top: 12.5px;
  left: 12.5px;
}
.circle-box--charge {
  position: absolute;
  top: 34.5px;
  left: 30.5px;
}
.circle-box--bluetooth {
  position: absolute;
  top: 30.5px;
  left: 36.5px;
}
.circle-box--microfon {
  position: absolute;
  top: 31.5px;
  left: 31.5px;
}
/* circle-box img END */
/* circle-box text */
.circle-box__text--h4 {
  font-weight: 500;
  font-size: 3.1rem;
  line-height: 1.4;
}
.circle-box__text--h5 {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--primary-color);
}
/* circle-box text END */

/* RIGHT */

.main-two__right {
  width: 60%;
  height: 694px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 309px 356px;
  background-image: url(../image/svg/bg-nota.svg);
  background-repeat: no-repeat;
  background-position: top 15% left 85%;
  position: relative;
}
/* MAIN TWO right img style */
.main-two__headphone {
  width: 332px;
  height: 474px;
  object-fit: contain;
  object-position: center;
}
.wave-left {
  position: absolute;
  top: 70%;
  left: 12%;
}
.wave-right {
  position: absolute;
  transform: rotate(5deg);
  top: 62%;
  left: 65%;
}

/* MAIN THREE */
.main-three {
  text-align: center;
  margin-bottom: 13rem;
}
.main-three__subtitle {
  margin-bottom: 2.5rem;
}
.main-three--small-text {
  margin-bottom: 4.3rem;
}
/* main three box */
.main-three__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3.3rem;
}
.main-three__box__item {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 331px;
  row-gap: 3.5rem;
}
.main-three__box__item--top {
  width: 100%;
  display: grid;
  align-items: flex-end;
  grid-template-rows: 385px;
}
.main-three--bg {
  width: 332px;
  height: 331px;
  border-radius: 3rem;
}
.main-three--bg-color1 {
  background-color: #ffe5ee;
}
.main-three--bg-color2 {
  background-color: #e5f1ff;
}
.main-three--bg-color3 {
  background-color: #e5fffb;
}
.main-three__img {
  width: 255px;
  height: 358px;
  position: absolute;
  top: 0;
  left: 24px;
}
.korzinka-svg1 {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2.6rem;
  background-color: #ffe5ee;
  border: 6px solid var(--white-bg-color);
  border-radius: 50%;
}
.korzinka-svg2 {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2.6rem;
  background-color: #e5f1ff;
  border: 6px solid var(--white-bg-color);
  border-radius: 50%;
}
.korzinka-svg3 {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2.6rem;
  background-color: #e5fffb;
  border: 6px solid var(--white-bg-color);
  border-radius: 50%;
}
.main-three__box__item--bottom {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  row-gap: 1.5rem;
  text-align: start;
}
/* MAIN THREE text styles */
.main-three__footer-p {
  font-weight: 500;
  justify-self: end;
}
.h4-text {
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 1.4;
}
.main-three__footer--h5 {
  font-weight: 500;
}

/* MAIN FOUR */
.main-four {
  display: flex;
  align-items: center;
  margin-bottom: 12rem;
}
.main-four__li {
  display: flex;
  gap: 1.5rem;
}
.main-four__ul li:nth-child(n) {
  margin-bottom: 2rem;
}
.main-four--hr {
  width: 292px;
  height: 1px;
  background-color: var(--black-bg-color);
  opacity: 10%;
  margin-bottom: 2rem;
}

/* MAIN FIVE */
.main-five {
  width: 100%;
  height: 293px;
  display: flex;
  background-size: contain;
  justify-content: center;
  background-image: url(../image/png/five-bg.png);
  margin-bottom: 16rem;
}
.main-five__box {
  /* width: 712px; */
  text-align: center;
  padding: 5.4rem 10.3rem 5.4rem 13.5rem;
  border-radius: 2rem;
  background-color: #fff4f4;
  margin-top: 3rem;
}

.main-five__subtitle {
  margin-bottom: 0.6rem;
}
.main-five__p {
  margin-bottom: 3.6rem;
}
.main-five__btn {
  margin-left: 10rem;
}
.main-five__footer {
  display: flex;
  background-color: var(--white-bg-color);
  border-radius: 7.3rem;
  padding-left: 3rem;
}
.main-five__btn {
  background-color: var(--primary-color);
  padding: 1.5rem 3rem;
  border-radius: 5rem;
}
/* MAIN END */

/* FOOTER */
.footer-c {
  background-color: var(--primary-color);
}

.footer-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white-color);
  padding: 6.2rem;
}
.footer-c-title__ul {
  display: flex;
  gap: 3rem;
}
.foooter-c__logos {
  display: flex;
  gap: 3.5rem;
}
.logos-img {
  width: 50px;
  height: 50px;
  background-color: var(--white-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

/* MEDIA QUERIE */

/* Large devices (dsktops, less than 1200px */
@media (max-width: 1199.98px) {
  .main-two {
    display: flex;
    flex-direction: column;
  }
  .main-one__headphones-box {
    padding: 0 5rem;
  }
  .main-one-left {
    width: 200px;
    height: auto;
  }
  .main-one-center {
    width: 300px;
    height: auto;
  }
  .main-one-right {
    width: 200px;
    height: auto;
  }
  .main-three__box {
    display: grid;
    grid-template-columns: 361px;
    justify-content: center;
  }
}
/* Medium devices (ablets, less than 992px */
@media (max-width: 991.98px) {
  .header-bottom__img {
    width: 50%;
    height: auto;
    margin: 0;
  }
  .header-bottom__title {
    font-size: 5rem;
  }
  /* MAIN */
  .main-four {
    flex-direction: column;
  }
  .footer-item-logo {
    display: none;
  }
}
/* Small devices (lndscape phones, less than 768px */
@media (max-width: 767.98px) {
  .header-bottom {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .header-bottom__img {
    width: 70%;
    height: auto;
    margin-bottom: 3rem;
  }
  .header-bottom__price {
    justify-content: center;
  }
  .footer-item{
    flex-direction: column;
    gap: 2rem;
  }
  /* MAIN */
  .title {
    font-size: 3rem;
  }
  .main-one__headphones-box {
    padding: 0 1rem;
  }
  .main-one-icon1,
  .main-one-icon2 {
    width: 15px;
    height: auto;
  }
  .main-one-left {
    width: 100px;
    height: auto;
    margin-right: -1rem;
  }
  .main-one-center {
    width: 150px;
    height: auto;
  }
  .main-one-right {
    width: 100px;
    height: auto;
    margin-left: -1rem;
  }
  .main-two__left__list--li {
    display: flex;
    flex-direction: column;
  }
  .wave-left,
  .wave-right {
    display: none;
  }
  .main-five__footer {

    padding-left: 1rem;
  }
  .main-five__btn {
    align-self: center;
    justify-self: center;
    padding: 0.5rem 1rem;
  }
}
/* X-Small devices portrait phones, less than 576px */
@media (max-width: 575.98px) {
  .desktop-nav {
    display: none;
  }
  .small-nav {
    display: flex;
  }
  .site-logo__icon {
    width: 50px;
    height: auto;
  }
}
/* PHONE */
@media only screen and (max-width: 375px) {
  html {
    font-size: 50%;
  }
}
